.nav {
    grid-area: n;

    height: 98%;

    background-color: #1c1a1a;
}

.nav li {
    margin-bottom: 0.75rem;
}

.linkItem a {
    color: orangered;
}

.linkItem:hover a {
    text-decoration: underline;
}

.linkItem a.active {
    color: #f3da5d;
}