.app-wrapper {
    display: grid;

    grid-template-areas:
    'h h'
    'n c';

    grid-template-rows: 3rem 1fr;
    grid-template-columns: 1fr 5fr;
    grid-gap: 0.75rem;

    width: 96%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding-left: 1rem;
}

li {
    color: darkslategray;
}

Header {
    grid-area: h;

    background-color: greenyellow;
}

Header img {
    width: 4rem;
}

Nav {
    grid-area: n;

    background-color: greenyellow;
}

Content {
    grid-area: c;

    background-color: aliceblue;
}

Content img {
    height: 10rem;
    width: 100%;
}